
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* VARIABLES DEFINITION */

:root{
    --color-principal: #0ef;
    --color-secondary: #ffffff;
    --color-active: #6ae90f;
    --color-background: #081b29;
    --color-background-2: #062c47;
}

/*--GENERAL STYLES--*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 5rem;
    background: var(--color-background);
}

.container-title {
    display: flex;
    align-items: center;
}

.container-title h1 {
    font-family: 'Handlee', cursive;
    width: fit-content;
    color: var(--color-secondary);
    margin-top: 0;
    font-size: 3.3rem;
    text-shadow: 2px 3px 3px rgba(169, 96, 171, 0.726);
    transform: rotate(-90deg); /* Rotate the text vertically */
    writing-mode: sideways-lr; /* Set writing mode for vertical text */
    position: relative;
    left: 30px; /* Move the h1 element 30px to the right from the left edge */


}
.container-title h1 span{
    font-family: 'Handlee', cursive;
    color: var(--color-principal);
}

.drag{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30rem;
    gap: 1rem;
    cursor: grab;
}

.drag .dragBox{
    position: relative;
    width: 8rem;
    height: 8rem;
    background: var(--color-background-2);
}

.images{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--img);
    background-size: cover;
}

.reset{
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.1rem 1.1rem;
    border: none;
    background: var(--color-secondary);
    color: var(--color-background);
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 550;
    text-transform: uppercase;
    cursor: pointer;
}

.reset:hover{
    transition: all 300ms ease-in-out;
    box-shadow: 0 10px 20px rgba(25, 255, 40, 0.321);
}

.board{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.dropBox{
    position: relative;
    width: 10rem;
    height: 10rem;
    background: var(--color-background-2);
}

